.single-course {
    margin-top:20px;
    margin-bottom: 20px;
    border:1px solid #ddd;
    padding:10px;
    border-radius:5px;
}

.single-course h3 {
    font-size:22px;
    margin-top:10px;
    margin-bottom: 10px;
}